<!DOCTYPE html>
{% extends "bootstrap/base.html" %}
{% import "navbar.html" as nav %}
{% import "footer.html" as footer %}

{% block title %}
	{{title}}
{% endblock %}

{% block styles %}
	{{super()}}
	<link rel="stylesheet"
	      href="{{url_for('.static', filename='css/custom.css')}}">
{% endblock %}

{% block navbar %}
	{{ nav }}
{% endblock %}

{% block content %}
	<div class="container-fluid">
		<h1 class="text-center">{{title}}</h1>
		<p>This is a thesis project for {{author.firstname}} {{author.lastname}}</p>
		<p><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> {{author.email}}</p>
		<p><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> {{author.url}}</p>
	</div>
	{{footer}}
{% endblock%}
