<div id="footer">
	<div class="container">
	  <div class="row">
	      <div class="col-sm-3">
	      	<p>something</p>
	      </div>
	      <div class="col-sm-3">
	      	<p>something</p>
	      </div>
	      <div class="col-sm-3">
	      	<p>something</p>
	      </div>
	      <div class="col-sm-3">
	      	<p>something</p>
	      </div>
	  </div>
	</div>
</div>