<!DOCTYPE html>
{% extends "bootstrap/base.html" %}
{% import "navbar.html" as nav %}


{% block title %}
	{{title}}
{% endblock %}

{% block styles %}
	{{super()}}
	<link rel="stylesheet"
	      href="{{url_for('.static', filename='css/custom.css')}}">
{% endblock %}

{% block navbar %}
	{{ nav }}
{% endblock %}

{% block content %}
	<div class="container-fluid">
		<div class="jumbotron">
  			<div class="container">
    			<h1>Welcome to Phyi Pi</h1>
    			<p>Some general info about the project</p>
    			<a href="/about" class="btn btn-primary">About</a>
  			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<img src="{{url_for('.static', filename='img/pi3.png')}}" class="img-responsive">
			</div>
			<div class="col-md-6">
				<p>Talk bit about the Pi</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<p>Talk bit about the Code</p>
			</div>
			<div class="col-md-6">
				<img src="{{url_for('.static', filename='img/sourcecode.jpg')}}" class="img-responsive">
			</div>
		</div>
	</div>
	{{footer}}
{% endblock%}
